<!--<div *ngIf="check">
  Enter password of this secret:<br>
  <input [(ngModel)]="request" type="text" name="request">
</div>
<button (click)="seeSecret()" type="button">See secret</button>
<div *ngIf="see">{{responce?.message.message}}</div>-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Secret room</title>
</head>
<body>

<div class="section">
  <div id="page-wraper">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <a href="http://localhost:4200/"> <img src="../../assets/img/logo2.png" class="logo" alt="Secret room"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <form  *ngIf="check">
            <h1 class="header-text">
              <strong>Введите пароль от вашего секрета:</strong>
            </h1>
            <div class="formA">
              <input placeholder="Введите пароль" [(ngModel)]="password.password" type="text" name="password">
            </div>

            <button class="buttonA hvr-grow shadow" (click)="onSubmit()"  type="button">Показать секрет</button>
          </form>
          <div *ngIf="see">
            <h1 class="header-text">
              <strong> Это собщение вам:</strong>
            </h1>
            <div class="form2">
              <input type="text"  readonly="readonly" class="notAllowed" name="name" [(ngModel)]="responce?.message.message" placeholder="Текст"
                     autocomplete="off" required/>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <p class="text4"> (Cекрет будет показан только один раз)</p>
          <button class="button1 hvr-grow shadow" (click)="goHome()">Ответить другим секретом</button>

          <hr>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>

